<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <img class="img-responsive" src="https://assets.nintendo.com/image/upload/f_auto,q_auto,w_960,h_540/Legacy%20Videos/posters/R1a2syaTE6xJgyksrCT7ajeyn6shCGJF.jpg" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="playerID">ID</label>
        <input type="text" class="form-control col-xs-2" formControlName="playerID" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control col-xs-2" formControlName="password" required>
      </div>
      <div class="text-center">
        <button class="btn" type="button" (click)="onLogin()" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
