<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <img class="img-responsive" src="https://assets.nintendo.com/image/upload/f_auto,q_auto,w_960,h_540/Legacy%20Videos/posters/R1a2syaTE6xJgyksrCT7ajeyn6shCGJF.jpg" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="">
      <div class="text-center">
        <button class="btn" type="button" [routerLink]="['/login']">Login</button>
        |
        <button class="btn" type="button" [routerLink]="['/signUp']">Sign Up</button>
      </div>
    </form>
  </div>
</div>
